<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true">
    <testsuites>
        <!-- Setup tests run FIRST - downloads binary and validates cache -->
        <testsuite name="setup">
            <directory>tests</directory>
            <exclude>tests</exclude>
        </testsuite>

        <!-- All tests run in default order -->
        <testsuite name="all">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <!-- Define test groups -->
    <groups>
        <include>
            <group>setup</group>
            <group>cache</group>
            <group>download</group>
            <group>commands</group>
            <group>edge-cases</group>
            <group>configuration</group>
        </include>
    </groups>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>
